<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new releases and discover new albums and special releases... </p>
<form>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Search for music..." name="searchString" (keyup)="searchMusic()" [(ngModel)]="searchString">
  </div>
</form>
<div *ngIf="artists">
  <div *ngFor="let artist of artists">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>
            <a [routerLink]="['/artist', artist.id]" target="_blank">{{artist.name}}</a>
          </h4>
          <div>
            <strong>Genres: </strong>
            <span *ngFor="let genre of artist.genres">{{genre}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
